<% content_for(:title, t('.title')) %>
<div class="container">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-8">
      <h1 class="zen-maru text-center my-5"><%= t('.title') %></h1>
        <h3>お客様から取得する情報</h3>
          <p>当社は、お客様から以下の情報を取得します。</p>
            <ul>・氏名（ニックネーム含む）</ul>
            <ul>・メールアドレス</ul>
            <ul>・写真や動画</ul>
            <ul>・外部サービスでお客様が利用するID、その他外部サービスのプライバシー設定によりお客様が連携先に開示を認めた情報</ul>
            <ul>・当社ウェブサイトの滞在時間、入力履歴等の当社アプリの利用履歴</ul>
            <ul>・お客様の位置情報</ul>

        <h3>お客様の情報を利用する目的</h3>
          <p>当社は、お客様から取得した情報を以下の目的で利用します。</p>
            <ul>・当社サービスに関する登録の受付、お客様の本人確認、認証のため</ul>
            <ul>・お客様の当社のサービスの利用履歴を管理するため</ul>
            <ul>・お客様に対して情報を提供するため</ul>
            <ul>・当社のサービスに関するご案内のため</ul>
            <ul>・当社サービスにおけるお客様の行動履歴を分析し、当社サービスの維持改善に役立てるため</ul>
            <ul>・当社の規約や法令に違反する行為に対応するため</ul>
            <ul>・当社のサービスの変更、提供中止、終了、契約解除をご連絡するため</ul>
            <ul>・当社規約の変更等を通知するため</ul>
            <ul>・以上の他、当社サービスの提供、維持、保護及び改善のため</ul>

        <h3>安全管理のために講じた措置</h3>
          <p>当社が、お客様から取得した情報に関して、安全管理のために講じた措置につきましては、末尾記載のお問い合わせ先にご連絡をいただきましたら、法令の定めに従い個別にご回答させていただきます。</p>
        <h3>お客様の情報の第三者提供</h3>
          <p>当社はお客様から取得する情報の内、個人データ（個人情報保護法第16条第3項）に該当するものについては、あらかじめお客様の同意を得ずに、第三者（国内外にあるものを含みます）に提供しません。</p>
          <p>但し、次の場合は除きます</p>
            <ul>・個人データの取り扱いを外部に委託する場合</ul>
            <ul>・当社や当社サービスが買収された場合</ul>
            <ul>・事業パートナーと共同利用する場合（具体的な共同利用がある場合は、その内容を別途公表します）</ul>
            <ul>・その他、法律によって合法的に第三者提供が許されている場合</ul>

        <h3>アクセス解析ツール</h3>
          <p>当社は、お客様のアクセス解析のために、「Googleアナリティクス」を利用しています。Googleアナリティクスは、トラフィックデータの収集のためにCookieを使用しています。トラフィックデータは匿名で収集されており、個人を特定するのもではありません。Cookieを無効にすれば、これらの情報の収集を拒否することが出来ます。詳しくはお使いのブラウザの設定をご確認ください。Googleアナリティクスについて、詳しくは以下からご確認ください。</p>
          <p><a href="https://support.google.com/analytics/answer/12159447?hl=ja" target="_blank">Googleアナリティクス利用規約</a></p>

          <h3>プライバシーポリシーの変更</h3>
            <p>当社は、必要に応じて、このプライバシーポリシーの内容を変更します。この場合、変更後のプライバシーポリシーの施工時期と内容を適切な方法により周知または通知します。</p>

            <h3>お問い合わせ</h3>
              <p>お客様の情報の開示、情報の訂正、利用停止、削除をご希望の場合は以下のリンクよりご連絡ください。</p>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLScbP3PONP2gOcTN2tW_00XWHKzq72CnF0wYZ5H20yQ7Es9YoA/viewform?embedded=true" target="_blank">お問い合わせ</a>
              <p>情報の開示請求については、開示の有無にかかわらず、ご申請1件あたり1000円の事務手数料を申し受けます。</p>
      <div class="my-5">
        <%= link_to 'トップに戻る', root_path %>
      </div>
    </div>
  </div>
</div>
