<% if resource.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message.split(' ')[1..-1].join(' ') %></li>
      <% end %>
    </ul>
  </div>
<% end %>
