<% content_for(:title, t('.title')) %>
<div class='container d-flex flex-column align-items-center'>
  <h1 class="zen-maru my-3"><%= t('.title') %></h1>
  <p>通知設定を有効にするために、以下のQRコードをスキャンしてLINEのアカウントを追加してください。</p>
  <p>アカウント未認証のため、パソコンやお友達のスマホでQRコードを表示していただき、読み込んでいただくようにお願いいたします。</p>
  <%= image_tag 'koushienNowQR.png', alt: 'LINE QR Code' %>
  <%= link_to '次へ', link_line_account_notifications_path, class: 'btn btn-primary mt-5' %>
  <%= link_to t('defaults.back'), profile_path(current_user), class: 'btn btn-secondary mt-5' %>
</div>
