<div class="modal fade" id="emailPromptModal" tabindex="-1" aria-labelledby="emailPromptModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="emailPromptModalLabel">メールアドレスの登録をお願いいたします！</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <h5>LINEログインの方はメールアドレスの登録をお願いいたします！</h5>
        <br>
          メールアドレスが未登録の場合は、通常ログインやGoogleログインでのアカウント連携ができません🙇‍♀️<br>
          アカウント連携後はLINEログイン時での投稿や観戦履歴が削除されてしまうので、お早めに連携をお願いいたします。<br><br>
          <%= link_to '登録はこちら', edit_user_registration_path, class: 'btn btn-success' %></p>
      </div>
    </div>
  </div>
</div>
