<% if object.errors_any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul class="md-0">
      <% object.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end%>
