<footer class="bg-dark container-fluid mt-auto text-white py-2">
  <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
    <div>
      <p>Copyrigth © KoushienNow!</p>
    </div>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link link-secondary" href="#">お問い合わせ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-secondary" href="#">利用規約</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-secondary" href="#">プライバシーポリシー</a>
      </li>
    </ul>
    <div>
      <a class="px-2 link-secondary" href="#"><span class="bi bi-instagram"></span></a>
      <a class="px-2 link-secondary" href="#"><span class="bi bi-youtube"></span></a>
      <a class="px-2 link-secondary" href="#"><span class="bi bi-twitter"></span></a>
      <a class="px-2 link-secondary" href="#"><span class="bi bi-facebook"></span></a>
    </div>
  </div>
</footer>
