<footer class="bg-dark container-fluid mt-auto text-white py-2">
  <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
    <div>
      <p>Copyrigth © KoushienNow!</p>
    </div>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link link-secondary" href="https://docs.google.com/forms/d/e/1FAIpQLScbP3PONP2gOcTN2tW_00XWHKzq72CnF0wYZ5H20yQ7Es9YoA/viewform?embedded=true" target="_blank">お問い合わせ</a>
      </li>
      <li class="nav-item">
        <%= link_to '利用規約', terms_of_service_path, class: 'nav-link link-secondary' %>
      </li>
      <li class="nav-item">
        <%= link_to 'プライバシーポリシー', privacy_policy_path, class: 'nav-link link-secondary' %>
      </li>
    </ul>
    <div>
      <%= link_to "https://twitter.com/intent/tweet?text=#{CGI.escape("\n甲子園NOW!で虎に声援を送る！\n")}&url=#{CGI.escape(request.base_url + request.path)}", class: "px-2 link-secondary", target: "_blank" do %>
        <span class="bi bi-x-lg"></span>
      <% end %>
    </div>
  </div>
</footer>
