
<p>甲子園NOW!は、甲子園球場での観戦をより楽しくするためのSNSアプリです📣<br>
🐯今の興奮、感動を共有しよう！🔥<br>
⚠️ログインなしで閲覧可能ですが、投稿やコメント、いいね、位置情報の登録等はログインが必要です。</p>
<img src="<%= image_url('thumbnail.png') %>" width="100%"/><br>
<br>
<h4>🐯このアプリでできること🐯</h4>
<p>🍻アイコン付きでの位置情報の登録</p>
<p>📝虎に熱い応援を送られる投稿機能</p>
<p>🩷ユーザーの投稿にいいねやコメントができる</p>
<p>⚾️対戦カレンダーで試合日程の確認や自分の観戦予定、観戦履歴がわかる！</p>
<p>✉️マイページから通知設定を行えば、コメントが来た場合にLINEに通知が送られる</p>
<h4>🐯今すぐ虎い！🐯</h4>
<br>
<h4>操作方法動画</h4>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3 class="modal-line">トップ画面</h3>
      <div class="content">
        <img src="https://i.gyazo.com/e40b712d6ef42959429d03a46ccb4e8b.gif" alt="Image from Gyazo" class="img-fluid"/>
        <p>今日の試合情報、ユーザーの現在位置、最新の投稿が一目で確認できます。</p>
      </div>
    </div>
    <div class="col-md-6">
      <h3 class="modal-line">位置情報登録機能</h3>
      <div class="content">
        <img src="https://i.gyazo.com/3dbbccb95703e98736c2127e8047fb1d.gif" alt="Image from Gyazo" class="img-fluid"/>
        <p>位置情報を登録するから、現在位置を取得し、該当の座席名を表示します。自宅から応援も可能です。</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3 class="modal-line">新規投稿機能</h3>
      <div class="content">
        <img src="https://i.gyazo.com/036e430189b5186e07ec8a9128495fe8.gif" alt="Image from Gyazo" class="img-fluid"/>
        <p>虎に熱い声援を送るから、新規投稿ができます。</p>
      </div>
    </div>
    <div class="col-md-6">
      <h3 class="modal-line">アイコンから投稿の取得、ユーザー詳細</h3>
      <div class="content">
        <img src="https://i.gyazo.com/be2d1cfb9a4f516b0cafe404bd2320fb.gif" alt="Image from Gyazo" class="img-fluid"/>
        <p>甲子園球場上のアイコンをクリックしたら投稿が現れます。投稿ユーザーの名前をクリックすると、そのユーザーのページにリンクします。</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3 class="modal-line">観戦カレンダー</h3>
      <div class="content">
        <img src="https://i.gyazo.com/55d64ec251146e8a22e5142bd9e11214.gif" alt="Image from Gyazo" class="img-fluid"/>
        <p>試合、イベント情報の閲覧と自身の観戦履歴を登録することができます。</p>
      </div>
    </div>
    <div class="col-md-6">
      <h3 class="modal-line">コメント機能</h3>
      <div class="content">
        <img src="https://i.gyazo.com/66f989a60799c42c63c20d0eb6f6fc94.gif" alt="Image from Gyazo" class="img-fluid"/>
        <p>他のユーザーの投稿にコメントができます。</p>
      </div>
    </div>
  </div>
</div>
<br>
<p>このページはヘッダーの「？」マークからいつでも見ることができます。</p>
<br>