<div class="modal fade" id="locationModal" tabindex="-1" aria-labelledby="locationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="locationModalLabel">位置情報の登録が完了しました！</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>🎉🎉🎉</p>
        <p>位置情報の登録が完了しました！</p>
        <p>この素晴らしいニュースをXでシェアしませんか？</p>
        <button type="button" class="btn btn-dark">Xでシェアする</button>
      </div>
    </div>
  </div>
</div>
