<div class="container d-flex justify-content-center align-items-center">
  <div class="relative text-center">
    <map name="image-map">
      <% UserLocation.where(location_id: @location_id).each do |user_location| %>
        <% coords = location.points.map { |point| "#{point['x']},#{point['y']}" }.join(',') %>
        <area shape="poly" coords="<%= location.points %>">
      <% end %>
    </map>
    <%= image_tag 'koushien.jpg', id: 'stadium-image', class: 'img-fluid mx-auto d-block', usemap: '#image-map', style: 'width: 800px' %>

    <% if @users.any? %>
      <% @users.group_by { |user| user.user_locations.find_by(created_at: Date.today.all_day)&.location_id }.each do |location_id, users| %>
        <% users.each_with_index do |user, index| %>
          <% user_location = user.user_locations.find_by(created_at: Date.today.all_day) %>
          <% if user_location.present? %>
            <% left, top = user_location.calculate_offset(index) %>
            <%= image_tag "icons/#{user_location.icon}", class: "seat-icon", style: "left: #{left}%; top: #{top}%;" %>
            <% if user.latest_post %>
              <div class="tooltip">
                <%= link_to user.latest_post.body, post_path(user.latest_post) %> <!-- 最新の投稿を表示 -->
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
