<div class="container d-flex justify-content-center align-items-center">
<h1>今日の試合</h1>
</div>

<div class=" d-flex justify-content-center md-">
<% if matches.blank? %>
  <h2>今日の試合はありません</h2>
<% else %>
  <table>
    <% matches.each do |match| %>
      <tr>
        <td><%= match.match_date.strftime('%H:%M') %></td>
        <td>阪神 VS <%= match.opponent %></td>
      </tr>
    <% end %>
  </table>
<% end %>
</div>
