<div class="modal fade" id="scheduleModal" tabindex="-1" aria-labelledby="scheduleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="scheduleModalLabel">観戦予定を登録する</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with(url: add_to_schedule_matches_path, method: :post) do |form| %>
          <%= form.collection_select :match_id, @matches, :id, :opponent %>
          <%= form.date_field :date, value: @date || Date.today %>
          <%= form.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>