<% content_for(:title, t('.title')) %>
<div class="container justify-content-center">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1 class="zen-maru"><%= t('.title') %></h1>
      <%= render 'form', post: @post %>
    </div>
  </div>
</div>
