.top-wrapper {
  background-color: yellow;
}

.top-inner-text {
  position: absolute;
  top: 50%;
  left :50%;
  text-align: center;
  font-size: 3rem;
  color: black;

  @media screen and (max-width: 767px) {
    font-size: 2rem;
  }
}

li.info.result {
  list-style-type: none;
}

td.day {
  height: 117px;
  width: 14.28%; /* 100% / 7 days = 14.28% */
}