<p>ようこそ <%= @email %>さん！</p>

<% if @new_user %>
  <p>以下のリンクをクリックして、新規登録を完了させてください：</p>
  <%= link_to 'ここをクリック', confirmation_url(@resource, confirmation_token: @token, new_user: true) %>
<% else %>
  <p>以下のリンクをクリックして、アカウントのメールアドレスの変更を完了してください：</p>
  <%= link_to 'ここをクリック', confirmation_url(@resource, confirmation_token: @token) %>
<% end %>
