<p><%= @resource.user_name %>様</p>

<p>＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝</p>


<p>パスワード再発行のご依頼を受け付けました。</p>
<p>こちらのリンクからパスワードの再設定を行ってください。</p>

<p><%= link_to t('devise.passwords.edit.change_my_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに心当たりがない場合や、パスワードを変更しない場合は何もする必要はございません。</p>
<p>上記URLで設定を完了するまで、パスワードは変更されません。</p>