<div class="container d-flex justify-content-center align-items-center">
  <div class="md-3">
    <%= image_tag 'koushien.jpg', id: 'stadium-image', class: 'img-fluid', width: '600' %>
  </div>
</div>